# Async / HTTP
aiofiles
aiohttp
apscheduler
httpx[http2]==0.27.2
cloudscraper

# Parsing / scraping / APIs
beautifulsoup4
bing-image-downloader
deepai
dnspython
emojis
gpytranslate
hachoir
instaloader
lexica-api
motor
python-whois
SafoneAPI
search_engine_parser
spotipy
telegraph
telethon
tgcrypto
unidecode
wget
lyricsgenius
googlesearch-python

# Bot / Telegram / Voice
pyrogram @ git+https://github.com/KurimuzonAkuma/pyrogram.git
pytgcalls>=2.1.0
ntgcalls>=2.0.0
python-telegram-bot==21.1.1

# Multimedia / Audio / Video
ffmpeg-python
gtts
pydub
pytube
yt-dlp
opencv-python
img2pdf
pornhub-api==0.3.0

# Utilities / Tools
Faker
future==1.0.0
git+https://github.com/AsmSafone/SafoneAPI
gitpython
pycountry
pycryptodome
pyfiglet
pykeyboard
python-dotenv
pyshorteners
pyttsx3
pytz
pillow==9.5.0
psutil
pickledb
qrcode
requests
speedtest-cli
SpeechRecognition
yaml==6.0.1

# AI / OpenAI
openai==1.30.1

# Web
Flask
